.contact-jumbotron {
  background-image: url('../../assets/img/background/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

#youtube-btn {
  border-color: #f83f37;
  color: #f83f37;
}
.btn:hover {
  color: #0057b4;
  background-color: transparent;
}
.btn {
  background-color: transparent;
  color: #007bff;
  border: transparent;
}
